body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

canvas {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  text-align: center;
}

h2 {
  margin: 10px;
  text-align: center;
  font-family: specialElite;
  font-size: 48px;
  color: #ffffff;
}

h3 {
  margin: 10px;
  text-align: center;
  font-family: specialElite;
  font-size: 16px;
  color: #ffffff;
  line-height: 2;
}
.highlight {
  color: #a32828;
  font-size: inherit;
}

a {
  color: #a32828;
}

.click-prompt {
  font-size: 30px;
}

.header {
  background-color: #000000;
}

button {
  margin: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: specialElite;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #000000;
  border: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: "#000000";
  cursor: pointer;
}

p {
  margin: 10px;
  text-align: center;
  font-family: specialElite;
  font-size: 16px;
  color: #c5c5c5;
}

@font-face {
  font-family: specialElite;
  src: url(assets/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: philosopher;
  src: url(assets/Philosopher-Regular.ttf);
}
